<!doctype html>
<html lang="en">

<body>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Template CSS -->
    <link rel="icon" href="https://icons.iconarchive.com/icons/designbolts/hand-stitched/128/YouTube-icon.png">
    <title>Youtube Scrape</title>

    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/style-starter.css') }}">
</head>


{% include 'includes/header.html' %}
{% block content %}

{% endblock %}
{% include 'includes/footer.html' %}


<!-- Template JavaScript -->
<script src="{{ url_for('static',filename='assets/js/theme-change.js') }}"></script>

<script src="{{ url_for('static',filename='assets/js/jquery-3.3.1.min.js') }}"></script>

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->

<script src="{{ url_for('static',filename='assets/js/bootstrap.min.js') }}"></script>

</body>

</html>
